.light .card {
  background-color: transparent;
  border: 2px solid var(--dark-bg);
}
  
.dark .card {
  background-color: transparent;
  border: 2px solid var(--light-bg);
}

.project-card-title {
  font-size: 2em;
}

.card-subtitle {
  font-size: 1.5em;
}

.light .card-title, .light .card-subtitle, .light .card-text {
  color: var(--light-text);
}

.dark .card-title, .dark .card-subtitle, .dark .card-text {
  color: var(--dark-text);
}

.card-text {
  text-align: justify;
  font-size: 1em;
}

.card {
  width: 27rem;
  height: 27rem;
  display: flex;
  flex-direction: column;
}

.project-card {
  position: relative;
  overflow: hidden;
}

.project-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .5s ease;
}

.project-card:hover .project-card-img {
  transform: scale(1.1);
}

.project-card-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;
  backdrop-filter: blur(2px);
  transition: opacity .5s ease;
}

.light .project-card-body {
  background: rgba(255, 255, 255, 0.7);
}

.dark .project-card-body {
  background: rgba(0, 0, 0, 0.7);
}

.project-card:hover .project-card-body {
  opacity: 1;
}
