:root {
  --dark-bg: #464b51;
  --light-bg: #E5EBEF;
  --dark-text: #FFF;
  --light-text: #333;
  --bezier: cubic-bezier(0,.7,.3,1);
  --background-sizing: 80%;
  --animation-time: 0.2s;
  --max-width: 65rem;
  --box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h2, h3, h4, h5, h6, li {
  font-family: 'Neue Montreal', sans-serif;
}

h2 {
  font-size: 2em;
  font-weight: 500;
  text-decoration: underline;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
}

p {
  font-size: 1.2em;
  text-align: justify;
  hyphens: auto;
}

li {
  font-size: 1.2em;
}

.light {
  background-color: var(--light-bg);
  color: var(--light-text);
}

.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.col {
  padding: 1em;
}

h1 {
  font-family: 'Monaco', sans-serif;
  font-size: 4em;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  padding: 0 2em;
}

a {
  text-decoration: none;
}

.nav-link:hover {
  cursor: pointer;
}

.custom-navbar-brand {
  flex-grow: 1;
  padding-right: 40px;
}

@media (min-width: 992px) {
  .custom-navbar-brand {
    flex-grow: 0;
    padding-right: 0;
  }
}
