:root {
  --dark-bg: #464b51;
  --light-bg: #E5EBEF;
  --dark-text: #FFF;
  --light-text: #333;
  --bezier: cubic-bezier(0,.7,.3,1);
  --background-sizing: 80%;
  --animation-time: 0.2s;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grain {
  background-image: url('./assets/grain.svg');
  background-size: cover;
  opacity: 0.09;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h1, h2 {
  text-align: justify;
  max-width: 800px;
  margin: 0 auto;
}

.card-subtitle {
  text-align: justify;
}

.light {
  background-color: var(--light-bg);
  color: var(--light-text);
}

.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.light .card {
  background-color: var(--light-bg);
}

.dark .card {
  background-color: var(--dark-bg);
}

.light .card-title, .light .card-subtitle, .light .card-text {
  color: var(--light-text);
}

.dark .card-title, .dark .card-subtitle, .dark .card-text {
  color: var(--dark-text);
}

/* THEME SWITHC */
.theme-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-switch label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-text);
  border-radius: 34px;
}

.theme-switch input:checked + label {
  background-color: var(--light-bg);
}

.theme-switch label::before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 2.5px;
  bottom: 2.5px;
  background-color: var(--light-bg);
  background-size: var(--background-sizing);
  background-image: url('./assets/sun.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transform: translateX(15px);
  animation: roll-out var(--animation-time) forwards var(--bezier);
}

.theme-switch input:checked + label::before {
  background-color: var(--dark-bg);
  background-size: var(--background-sizing);
  background-image: url('./assets/moon.png');
}

.theme-switch input:checked + label::before {
  transform: translateX(0px);
  animation: roll-in var(--animation-time) forwards var(--bezier);
}

@keyframes roll-out {
  from { transform: translateX(0) rotate(-180deg); }
  to { transform: translateX(15) rotate(0deg); }
}

@keyframes roll-in {
  from { transform: translateX(15px) rotate(180deg); }
  to { transform: translateX(0px) rotate(0); }
}

/* PADDING FROM NAVBAR */
.container-padding {
  padding-top: 5em;
}

@media (max-width: 1200px) {
  .container-padding {
    padding-top: 4em;
  }
}

@media (max-width: 992px) {
  .container-padding {
    padding-top: 3em;
  }
}

@media (max-width: 768px) {
  .container-padding {
    padding-top: 2em;
  }
}

@media (max-width: 576px) {
  .container-padding {
    padding-top: 1em;
  }
}

/* CUSTOMIZING NAVBAR */
.custom-navbar-brand {
  flex-grow: 1;
  padding-right: 40px;
}

@media (min-width: 992px) {
  .custom-navbar-brand {
    flex-grow: 0;
    padding-right: 0;
  }
}
