:root {
  --dark-bg: #464b51;
  --light-bg: #E5EBEF;
  --dark-text: #FFF;
  --light-text: #333;
  --bezier: cubic-bezier(0,.7,.3,1);
  --background-sizing: 80%;
  --animation-time: 0.2s;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.grain {
  background-image: url('./assets/grain.svg');
  background-size: cover;
  opacity: 0.09;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Neue Montreal', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 5em;
}

h2 {
    font-weight: 500;
    font-size: 3em;
}

p {
    font-size: 1.2em;
    text-align: justify;
    hyphens: auto;
}

.light {
  background-color: var(--light-bg);
  color: var(--light-text);
}

.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.col {
  padding: 1em;
}

@media (max-width: 1200px) {
  .container-padding {
    padding-top: 4em;
  }
}

@media (max-width: 992px) {
  .container-padding {
    padding-top: 3em;
  }
}

@media (max-width: 768px) {
  .container-padding {
    padding-top: 2em;
  }
}

@media (max-width: 576px) {
  .container-padding {
    padding-top: 1em;
  }
}

/* CUSTOMIZING NAVBAR */
.custom-navbar-brand {
  flex-grow: 1;
  padding-right: 40px;
}

@media (min-width: 992px) {
  .custom-navbar-brand {
    flex-grow: 0;
    padding-right: 0;
  }
}
