:root {
  --dark-bg: #464b51;
  --light-bg: #e5ebf0;
  --dark-text: #FFF;
  --light-text: #333;
  --bezier: cubic-bezier(0,.7,.3,1);
  --background-sizing: 80%;
  --transition-animation-time: 0.2s;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grain {
  background-image: url('./assets/grain.svg');
  background-size: cover;
  opacity: 0.09;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h1, h2 {
  text-align: justify;
  max-width: 800px;
  margin: 0 auto;
}

.light {
  background-color: var(--light-bg);
  color: var(--light-text);
}

.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

/* THEME SWITHC */
.theme-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-switch label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-text);
  transition: var(--transition-animation-time);
  border-radius: 34px;
}

.theme-switch input:checked + label {
  background-color: var(--light-bg);
  transition: var(--transition-animation-time);
}

.theme-switch label::before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 2.5px;
  bottom: 2.5px;
  background-color: var(--light-bg);
  background-size: var(--background-sizing);
  background-image: url('./assets/sun.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transform: translateX(15px);
  transition: var(--transition-animation-time);
  animation: roll-out var(--transition-animation-time) forwards var(--bezier);
}

.theme-switch input:checked + label::before {
  background-color: var(--dark-bg);
  background-size: var(--background-sizing);
  background-image: url('./assets/moon.png');
}

.theme-switch input:checked + label::before {
  transform: translateX(0px);
  transition: var(--transition-animation-time);
  animation: roll-in var(--transition-animation-time) forwards var(--bezier);
}

@keyframes roll-out {
  from { transform: translateX(0) rotate(-180deg); }
  to { transform: translateX(15) rotate(0deg); }
}

@keyframes roll-in {
  from { transform: translateX(15px) rotate(180deg); }
  to { transform: translateX(0px) rotate(0); }
}

/* PADDING FROM NAVBAR */
.container-padding {
  padding-top: 5em;
}

@media (max-width: 1200px) {
  .container-padding {
    padding-top: 4em;
  }
}

@media (max-width: 992px) {
  .container-padding {
    padding-top: 3em;
  }
}

@media (max-width: 768px) {
  .container-padding {
    padding-top: 2em;
  }
}

@media (max-width: 576px) {
  .container-padding {
    padding-top: 1em;
  }
}
